# **Selling price prediction of headphones on flipkart**
#          By Devesh Kumar

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Flipkart%20Headphones.csv')

In [ ]:
df.head()

,Model,Company,Color,Type,Average Rating,Number of Ratings,Selling Price,Maximum Retail Price,Discount
0,5PLUS 5PHP28 Wired without Mic Headset,5PLUS,Red,On the Ear,3.6,101,496,3399,2903
1,A R Wireless compatible with Headset Bluetooth...,A R,Red,Multicolor,3.9,35280,188,799,611
2,Aerizo Wireless Touch R100 Earbuds (Black) Blu...,Aerizo,Black,True Wireless,4.0,1934,589,1298,709
3,Allmusic powerful driven bass with dynamic bea...,Allmusic,Multicolor,In the Ear,4.0,15841,260,1599,1339
4,Allmusic OPP.O Ultra HD Sound Premium Bass Spo...,Allmusic,Black,In the Ear,3.8,10766,270,999,729

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 1000 non-null   object
 1   Company               1000 non-null   object
 2   Color                 1000 non-null   object
 3   Type                  1000 non-null   object
 4   Average Rating        1000 non-null   float64
 5   Number of Ratings     1000 non-null   int64
 6   Selling Price         1000 non-null   int64
 7   Maximum Retail Price  1000 non-null   int64
 8   Discount              1000 non-null   int64
dtypes: float64(1), int64(4), object(4)
memory usage: 70.4+ KB

In [ ]:
df.describe()

,Average Rating,Number of Ratings,Selling Price,Maximum Retail Price,Discount
count,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000
mean,3.831000,5.004075e+04,832.875000,2423.043000,1590.168000
std,0.467459,1.572297e+05,812.535141,1774.025318,1341.379254
min,1.000000,0.000000e+00,88.000000,0.000000,-2991.000000
25%,3.600000,1.167500e+02,349.000000,1079.750000,697.500000
50%,3.900000,1.712000e+03,599.000000,1999.000000,1390.500000
75%,4.000000,1.332700e+04,999.000000,2999.000000,2250.000000
max,5.000000,1.299042e+06,7990.000000,16999.000000,12000.000000

In [ ]:
df.shape

(1000, 9)

In [ ]:
df.columns

Index(['Model', 'Company', 'Color', 'Type', 'Average Rating',
       'Number of Ratings', 'Selling Price', 'Maximum Retail Price',
       'Discount'],
      dtype='object')

In [ ]:
df.nunique()

Model                   591
Company                 202
Color                    94
Type                     16
Average Rating           21
Number of Ratings       434
Selling Price           241
Maximum Retail Price    106
Discount                416
dtype: int64

In [ ]:
df.value_counts()

Model                                                       Company   Color         Type            Average Rating  Number of Ratings  Selling Price  Maximum Retail Price  Discount
Aroma NB120 Tehalka - 28 Hours Playtime Bluetooth Neckb...  Aroma     Black          In the Ear     3.9             10398              379            1999                  1620        12
Wings Phantom Pro Gaming TWS with 30 Hrs Playtime Bluet...  Wings     Black          True Wireless  4.0             1934               2493           5499                  3006        11
Boult Audio ProBass Curve Neckband Bluetooth Headset        Boult     Black          Grey           4.0             333036             999            3499                  2500         8
                                                                      Blue           Black          4.0             333036             799            3499                  2700         7
Enacfire E60 Bullets Wireless Z Bass Edition Neckband h...  Enacfire  Reverb black   In the Ear     3.3             1842               599            3800                  3201         3
                                                                                                                                                                                        ..
FLYSTO M9-RD OKEY Bluetooth Headset                         FLYSTO    Red::Black3    In the Ear     4.0             29660              269            1299                  1030         1
FLYSTO b11 bluetoothmini s650 mini bluetooth earphone B...  FLYSTO    Black          True Wireless  3.3             157                449            1299                  850          1
FLYSTO wirless b11 bluetooth neckband Bluetooth Headset     FLYSTO    Black          In the Ear     4.0             2834               300            799                   499          1
FPX Emerald In Ear Neckband 60Hr Playtime SD card Slot,...  FPX       Grey           In the Ear     3.8             0                  679            2999                  2320         1
zofia 2EARBUD Bluetooth Headset                             zofia     Black          True Wireless  4.2             38                 1299           2999                  1700         1
Length: 951, dtype: int64

**define target y and features X**

In [ ]:
y = df['Selling Price']

In [ ]:
y.shape

(1000,)

In [ ]:
X = df[['Average Rating',
       'Number of Ratings', 'Maximum Retail Price',
       'Discount']]

In [ ]:
X.shape

(1000, 4)

In [ ]:
# import function
from sklearn.model_selection import train_test_split

In [ ]:
# split y and X into train and test data
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.7, random_state=2580)  #  random state can be any  number

In [ ]:
# check shape of train and test sample
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((700, 4), (300, 4), (700,), (300,))

In [ ]:
# Step 5 : select model
from sklearn.linear_model import LinearRegression
headphones = LinearRegression()

In [ ]:
# Step 6 : train or fit model
headphones.fit(X_train,y_train)

LinearRegression()

In [ ]:
# Step 7 : predict model
y_pred=headphones.predict(X_test)

In [ ]:
# Step 8 : model accuracy
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error

In [ ]:
mean_absolute_error(y_test,y_pred)

5.004115640379799e-13

In [ ]:
mean_absolute_percentage_error(y_test,y_pred)

8.66716730444762e-16

In [ ]:
mean_squared_error(y_test,y_pred)

6.964688428402211e-25

In [63]:
import joblib
joblib.dump(headphones,"headphones_flipkart_model.pkl")

['headphones_flipkart_model.pkl']

In [64]:
model = joblib.load("headphones_flipkart_model.pkl")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')